h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
    text-indent: 0px;
    text-transform: capitalize;
    color: #061826;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    0%{
        margin-inline-start: 50%;
        opacity: 0;
    }
    100%{
        margin-inline-end: 0;
        opacity: 100%;
    }
    
}
.column {
    float: left;
    width: 25%;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  .margin{
    margin-left: 75px;
  }
img{
    border-radius: 8px;
    animation-duration: 2s;
    animation-name: slidein;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #061826;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    text-align: center;
    color: #061826;
}
nav{
    text-align: center;
}
li{
    margin: 0 20px;
    display: inline-block;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #0471A6;
    text-decoration: none;
}
a:link, a:visited{
    background-color: #89AAE6;
    color: #061826;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}